<table class="ui blue table">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Display Name</th>
      <th>Customer Type</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers">
      <th><img src="./images/logo.svg"/></th>
      <td>Simon Huang</td>
      <td>Corporate Customer</td>
      <td>simon.huang@sap.com</td>
      <td>12300000000</td>
    </tr>
    <tr>
      <th><img src="./images/logo.svg"/></th>
      <td>Liang Echo</td>
      <td>Corporate Customer</td>
      <td>echo@sap.com</td>
      <td>13800000000</td>
    </tr>
  </tbody>
</table>