/simple-erp/.classpath
/simple-erp/.project
/simple-erp/.settings/.jsdtscope
/simple-erp/.settings/org.eclipse.core.resources.prefs
/simple-erp/.settings/org.eclipse.jdt.core.prefs
/simple-erp/.settings/org.eclipse.m2e.core.prefs
/simple-erp/.settings/org.eclipse.wst.common.component
/simple-erp/.settings/org.eclipse.wst.common.project.facet.core.xml
/simple-erp/.settings/org.eclipse.wst.jsdt.ui.superType.container
/simple-erp/.settings/org.eclipse.wst.jsdt.ui.superType.name
/simple-erp/.settings/org.eclipse.wst.validation.prefs
/simple-erp/target/classes/application.properties
/simple-erp/target/classes/com/simon/erp/ApplicationEntry.class
/simple-erp/target/classes/com/simon/erp/common/BusinessObject.class
/simple-erp/target/classes/com/simon/erp/rest/common/BusinessErrorMessage.class
/simple-erp/target/classes/com/simon/erp/rest/common/BusinessErrorType.class
/simple-erp/target/classes/com/simon/erp/rest/controller/EmployeeController.class
/simple-erp/target/classes/com/simon/erp/rest/dto/EmployeeDTO.class
/simple-erp/target/classes/com/simon/erp/system/entity/Employee.class
/simple-erp/target/classes/com/simon/erp/system/repository/EmployeeRepository.class
/simple-erp/target/classes/com/simon/erp/system/service/EmployeeService.class
/simple-erp/target/classes/com/simon/erp/system/service/impl/EmployeeServiceImpl.class
/simple-erp/target/classes/com/simon/erp/test/controller/TestController.class
/simple-erp/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/simple-erp/target/m2e-wtp/web-resources/META-INF/maven/com.simon/simple-erp/pom.properties
/simple-erp/target/m2e-wtp/web-resources/META-INF/maven/com.simon/simple-erp/pom.xml
/mgr-employee/.classpath
/mgr-employee/.project
/mgr-employee/.settings/.jsdtscope
/mgr-employee/.settings/org.eclipse.core.resources.prefs
/mgr-employee/.settings/org.eclipse.jdt.core.prefs
/mgr-employee/.settings/org.eclipse.m2e.core.prefs
/mgr-employee/.settings/org.eclipse.wst.common.component
/mgr-employee/.settings/org.eclipse.wst.common.project.facet.core.xml
/mgr-employee/.settings/org.eclipse.wst.jsdt.ui.superType.container
/mgr-employee/.settings/org.eclipse.wst.jsdt.ui.superType.name
/mgr-employee/.settings/org.eclipse.wst.validation.prefs
/mgr-employee/.gitignore
/mgr-parent/.settings/org.eclipse.core.resources.prefs
/mgr-parent/.settings/org.eclipse.m2e.core.prefs
/mgr-web/.classpath
/mgr-web/.gitignore
/mgr-web/.project
/mgr-web/.settings/.jsdtscope
/mgr-web/.settings/org.eclipse.core.resources.prefs
/mgr-web/.settings/org.eclipse.jdt.core.prefs
/mgr-web/.settings/org.eclipse.m2e.core.prefs
/mgr-web/.settings/org.eclipse.wst.common.component
/mgr-web/.settings/org.eclipse.wst.common.project.facet.core.xml
/mgr-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
/mgr-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
/mgr-web/.settings/org.eclipse.wst.validation.prefs
