

.erp.project {
	margin-left: 10px;
}

.header.left {
	margin-top: 25%;
	margin-left: 15px;
}

.header.logo {
	width: 100%;
}

.ui.back:hover{
	background-color: #aaaaaa;
}

.content.container {
	max-width: 100%!important;
	margin: auto;
	min-height: 90%;
}

.grid.view {
	margin-top: 10px;
}

.twelve.content {
	margin-left: 20px;
	margin-top: 10px;
}

